# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/AISIW/v15/.suo
AISIW/obj/Debug/AISIW.csproj.FileListAbsolute.txt
AISIW/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AISIW/obj/Debug/CoreCompileInputs.cache
AISIW/obj/Debug/AISIW.csprojResolveAssemblyReference.cache
AISIW/obj/Debug/AISIW.csproj.ResolveComReference.cache
AISIW/obj/Debug/AISIW.csproj.GenerateResource.Cache
ANN/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ANN/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ANN/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ANN/obj/Debug/CoreCompileInputs.cache
ANN/obj/Debug/ANN.csprojResolveAssemblyReference.cache
ANN/obj/Debug/ANN.csproj.FileListAbsolute.txt
ANN/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AISIW.sln
AISIW.v12.suo
